footer {
    margin-top: 30px;
    /* background-color: rgba(154, 205, 160, 0.316); */
}

.container.footer {
    width: 100%;
    min-height: 50px;
    border:none;
    border-radius: 0;
}

.bugs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    margin-left: 40px;
}

.footer p {
    font-size: large;
    font-style: inherit;
}